django              
django-crispy-forms 
crispy-bootstrap4
mysqlclient         
setuptools          
simplejson          
sqlparse            
tzdata              
wheel               
whitenoise        
pillow  